;@know-how:registry=https://know-how.nexus/repository/know-how-npm
;registry=https://know-how.nexus/repository/npm-mirror
;//know-how.nexus/repository/know-how-npm:_auth=
;//know-how.nexus/repository/npm-mirror:_auth=
