registry=https://registry.npmjs.org
strict-ssl=true
loglevel=notice
package-manager=pnpm@latest
@know-how:registry=https://know-how.nexus/repository/know-how-npm/
@iqkv:registry=https://know-how.nexus/repository/iqkv-npm/
@keepboard:registry=https://know-how.nexus/repository/keepboard-npm/
